.page-container .post-container {
  min-height: 300px;
  width: 65%;
  margin-left: 35%;
  padding: 6em 4em;
}

.post-container .inner {
  max-width: 72em;
}

.post-container .content {
  margin-top: 3.6em;
}

.post-container .go-home {
  display: inline-block;
  margin-bottom: 1em;
}

.post-container .go-home h2 {
  font-size: 1.4em;
  line-height: 2.2em;
  padding: 0;
  margin: 0;
  border: 0;
}
