.page-container .post-container {
  min-height: 300px;
  width: var(--content-width);
  margin-left: var(--side-bar-width);
  padding: 6em 4em 4em 4em;
}

.post-container .inner {
  max-width: 60em;
  padding: 2em 4em;
  margin-top: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.post-container .content {
  margin-top: 3.6em;
}
