.page-container .post-container {
  min-height: 300px;
  width: var(--content-width);
  margin-left: var(--side-bar-width);
  padding: 6em 4em 4em 4em;
}

.post-container .inner {
  max-width: 60em;
  padding: 2em 4em;
  margin-top: 2em;
  border-radius: 5px;
  overflow: hidden;
}

.post-container .content {
  margin-top: 3.6em;
}

.post-container .article-menu {
  position: fixed;
  width: 20em;
  right: 10%;
  top: 11em;
  padding: 0.6em 0;
  background-color: #feffff;
  border: 1px solid #eee;
  transition: all 0.2s;
}

.post-container .article-menu .title-anchor.active {
  border-left: 2px solid #007fff;
}

@media (max-width: 1370px) {
  .post-container .article-menu {
    display: none;
  }
}
