#header {
  width: var(--side-bar-width);
  height: 100%;
  padding: 8em 4em;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  background-color: #333;
  font-size: var(--main-font-size);
}

#header * {
  color: rgba(255, 255, 255, 0.5);
}

#header *:hover {
  color: #f5f5f5;
  transition: all 0.3s;
}

#header .blog-avatar {
  margin-bottom: 1em;
  width: 8em;
  height: 8em;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-radius: 100%;
}

#header > .inner {
  margin: 0 0 2em 0;
}

#header .blog-title {
  font-size: 1.8em;
  line-height: 2em;
  color: #f5f5f5;
}

#header .blog-subtitle {
  font-size: 1.4em;
  line-height: 2em;
}

#header .blog-title,
#header .blog-subtitle,
#header .blog-desc {
  font-weight: 400;
}

#header .blog-desc {
  font-size: 1em;
  line-height: 1.5em;
}

.block-blank {
  height: 20em;
}

#footer .links {
  margin-bottom: 2em;
}

#footer .links li {
  margin: 0;
  list-style: none;
}

#footer .links .link {
  font-size: 1em;
  line-height: 2em;
}

#footer .copyright {
  font-size: 0.6em;
  line-height: 1em;
  margin: 0;
}
