#header {
  width: 35%;
  height: 100%;
  padding: 8em 4em;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  background-color: #1f1815;
  background-attachment: scroll, fixed;
  background-image: url(./images/side_bg.jpg);
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100%;
}

#header * {
  color: rgba(255, 255, 255, 0.5);
}

#header *:hover {
  color: #f5f5f5;
  transition: all 0.3s;
}

#header > .inner {
  flex-grow: 1;
  margin: 0 0 2em 0;
}

#header > * {
  flex-shrink: 0;
  width: 100%;
}

#header .avatar {
  display: inline-block;
  margin: 0 0 1em 0;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#header h1 {
  font-size: 1.8em;
  line-height: 2em;
  color: #f5f5f5;
}

#header h2 {
  font-size: 1.4em;
  line-height: 2em;
}

#header h1,
#header h2 {
  border: 0;
  padding: 0;
  margin: 0;
}

#header h1,
#header h2,
#header p {
  font-weight: 400;
}

#header p {
  font-size: 1em;
  line-height: 1.5em;
}

#header .tag-container {
  margin-top: 1.6em;
}

#header .tag-container > p {
  display: inline-block;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0 0.6em;
  margin-left: 0.6em;
  border: 0.12em solid rgba(255, 255, 255, 0.3);
  border-radius: 0.92em;
}

#header .tag-container > p:first-child {
  margin-left: 0;
}

#footer .links {
  margin-bottom: 2em;
}

#footer .links li {
  margin: 0;
  list-style: none;
}

#footer .links .link {
  font-size: 1em;
  line-height: 2em;
}

#footer .copyright {
  font-size: 0.6em;
  line-height: 1em;
  margin: 0;
}
