body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

:root {
  --main-font-size: 14px;
  --side-bar-width: 25%;
  --content-width: 75%;
}

.page-container {
  width: 100%;
  font-size: var(--main-font-size);
}

.page-loading,
.page-loading:after {
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
}

.page-loading {
  margin: 0 auto;
  margin-top: 44vh;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(64, 169, 255, 0.2);
  border-right: 1.1em solid rgba(64, 169, 255, 0.2);
  border-bottom: 1.1em solid rgba(64, 169, 255, 0.2);
  border-left: 1.1em solid #40a9ff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
